@value makerGreen,makerWhite from '../../common/colors.css';

.footer{
    width: 100%;
    background-color: makerGreen;
    text-align: center;
    padding:2px 10px;
}

.title{
    color: makerWhite;
}